name: Work Stats

on:
  schedule:
    # Runs every 2 hours
    - cron: "0 */2 * * *"
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  update-readme:
    name: Update readme with metrics
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKA_API }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
